.banner-section {
    // height: 600px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.banner-area-content{
    padding-top: 140px;
    @media #{$xs}{
        padding-top: 70px;
    }
    p {
        padding-left: 400px;
        margin-top: 50px;
        @media #{$md}{
            padding-left: 0px;
        }
        @media #{$xs}{
            padding-left: 0;
        }
    }
    
}

.banner-area-content .theme-btn {
    margin-top: -140px;
    position: relative;
    z-index: 9;
    @media #{$md}{
        margin-top: 20px;
    }
    @media #{$xs}{
        margin-top: 20px;
    }
}

.banner-area-content i {
    font-size: 20px;
    margin-left: 5px;
    transform: rotate(-45deg);
}

.banner-bg-wrap img {
    @media #{$xs}{
        height: 200px;
        object-fit: cover;
    }
    
  }
  .banner-img-wrap.mt-100 {
    @media #{$xs}{
        margin-top: 50px;
    }
  }
  
.banner-section.pb-90 {
    @media #{$xs}{
        padding-bottom: 40px;
    }
  }


// Banner Section 

#banner-2 .banner-area-content p {
    margin-top: 0;
    @media #{$md}{
        margin-top: 30px;
    }
    @media #{$xs}{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

#banner-2 .banner-area-content h1{
    font-size: 90px;
    line-height: 100px;
    @media #{$md}{
        font-size: 70px;
        line-height: 80px;
    }
    @media #{$xs}{
        font-size: 40px;
        line-height: 50px;
    }
}

a.more-service {
    border: 1px solid #1d1d1d;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

a.more-service i {
    transform: rotate(-45deg);
    position: relative;
    bottom: -12px;
    margin-left: 10px;
}

// Hero Area # 03

#banner-3 .banner-section {
    background: url(../img/hero-bg-3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#banner-3 .banner-area-content h1 {
    font-size: 90px;
    text-align: center;
    @media #{$md}{
        font-size: 70px;
        line-height: 80px;
    }
    @media #{$xs}{
        font-size: 35px;
        line-height: 45px;
    }
}

// Styling the default Slick dots


.slick-dots {
	display: flex;
	justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #050505;
    padding: 18px 36px;
	margin: 0;
	
	list-style-type: none;
	
		li {
			margin: 0 0.25rem;
		}
	
		button {
			display: block;
            width: 8px;
            height: 8px;
            padding: 0;
            background: none;
            border: 1px solid #fff;
            border-radius: 50%;
            position: relative;
            margin-right: 7px;
		}
	
		li.slick-active button {
			background-color: #fff;

            &:after{
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                border: 1px solid #fff;
                border-radius: 50%;
                padding: 7px;
                transform: translate(-50%, -50%);
                transition: .3s;
            }            
		}
	
}

