.single-blog-item {
    border: 1px solid #1d1d1d;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
    @media #{$xs}{     
        padding: 20px;
    }

    .blog-info span {
        border: 1px solid #1d1d1d;
        padding: 10px 20px;
        border-radius: 25px;
    }

    h4 {
        color: #fff;
        font-size: 26px;
        line-height: 36px;
        margin: 20px 0;

        @media #{$xs} {
            font-size: 20px;
            line-height: 30px;
        }
    }

    img {
        border-radius: 10px;
        margin: 20px 0;
    }

    p {
        margin: 0;
    }

    &:hover h4 {
        text-decoration: underline;
        text-underline-offset: 8px;
    }
}

#blog-2 {
    .single-blog-item {
        border: none;
        border-radius: 0;
        border-top: 1px solid #1d1d1d;        
        padding: 40px 30px;
        position: relative;        
        margin-bottom: 0;
        @media #{$xs}{         
            padding: 25px;
        }

        &:last-child{
            padding-bottom: 40px;
            border-bottom: 1px solid #1d1d1d;
        }

        @media #{$md} {
            margin-top: 50px;
        }

        @media #{$xs} {
            margin-top: 50px;
        }

        span.cat {
            font-size: 13px;
            font-weight: 500;
            border: 1px solid #eee;
            border-radius: 50px;
            padding: 8px 10px;
            color: #808080;
            text-transform: uppercase;
        }

        span.blog-date {
            border: 1px solid #1d1d1d;
            padding: 10px 20px;
            border-radius: 10px;
            color: #818181;
        }

        h3 a {
            font-size: 30px;
            font-weight: 500;
            line-height: 34px;
            margin-top: 20px;

            @media #{$md} {
                font-size: 24px;
                line-height: 34px;
            }

            @media #{$xs} {
                font-size: 20px;
                line-height: 30px;
                br{
                    display: none;
                }
            }            
        }

        .blog-link {
            width: 70px;
            height: 70px;
            border: 1px solid #eee;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 60px;
            bottom: 50%;
            transform: translate(50%, 50%);

            a i {
                font-size: 30px;
                transition: 0.3s;

                @media #{$xs} {
                    font-size: 20px;
                }
            }

            @media #{$md} {
                width: 50px;
                height: 50px;
            }

            @media #{$xs} {
                width: 40px;
                height: 40px;
                right: 30px;
                bottom: 80%;
            }
        }

        &:hover {
            span.cat {
                background: #49868C;
                border-color: #49868C;
                color: #fff;
            }

            h3 a {
                color: #fff;
                text-decoration: underline;
                text-underline-offset: 8px;
            }

            .blog-link {
                background: #fff;
                border-color: #fff;

                a i {
                    color: #000;
                    transform: rotate(0);
                }
            }
        }
    }

    .blog-img {
        width: 30.5%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        inset-inline-end: 10%;
        bottom: 50px;
        transform: translateY(50%);
        opacity: 0;
        visibility: hidden;
        transition: 0.4s linear;
        z-index: 9;

        @media #{$xs} {
            display: none;
        }
    }

    .single-blog-item:hover .blog-img {
        opacity: 1;
        visibility: visible;
        inset-inline-end: 15%;
    }

    .single-blog-item:nth-child(4) .blog-img {
        top: -120px;
    }


    .blog-section {
        position: relative;
    }

    .blog-section .section-shape-wrap {
        position: absolute;
        left: 0;
        bottom: 25%;
        z-index: -1;
    }
}

.pagination {
    margin-top: 30px;
}

.page-link {
    margin-right: 15px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0E0E0E;
    border-color: #0E0E0E;
    color: #fff;
    border-radius: 7px;
}

.page-item:first-child .page-link {
    display: inline-flex;
    background: #333;
    border-color: #333;
}

.page-link,
.page-link.active {
    border-radius: 0;
    margin-right: 15px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-color: #fff;
    border-radius: 7px;
    color: #0E0E0E;
}


// Blog Side Bar 

.blog-sidebar h5 {
    font-size: 24px;
    margin-bottom: 25px;
}

.search-bar-wrap {
    background: #0E0E0E;
    padding: 35px;
    border-radius: 10px;

    input {
        border: none;
        background: #000;
        padding: 15px;
        border-radius: 0;
    }

    i {
        font-size: 18px;
        background: #fff;
        border: 0;
        padding: 15px;
        color: #000;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
        }
    }
}


.blog-category {
    margin: 30px 0;
    padding: 35px;
    border-radius: 10px;
    background: #0E0E0E;
}

.blog-category ul li {
    display: block;
}

.blog-category ul li a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 25px;

    &:hover {
        opacity: .5;
    }
}

.blog-category ul li i {
    margin-right: 15px;
}


.recent-post-wrap {
    margin: 30px 0;
    background: #0E0E0E;
    padding: 35px;
    border-radius: 10px;

    @media #{$xs} {
        padding: 30px;
    }
}

.single-recent-post {
    padding: 25px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #1d1d1d;
}

.recent-post-thumbs {
    flex: 0 0 90px;

    img {
        border-radius: 50%;
    }
}


.recent-post-content {
    padding-left: 15px;

    p {
        color: #fff;
        opacity: .4;
        margin-bottom: 5px;

        @media #{$lg} {
            margin: 0;
        }

        @media #{$xs} {
            margin: 0;
            font-size: 16px;
        }
    }

    a h6 {
        font-size: 17px;
        line-height: 24px;
        color: #fff;

        @media #{$xs} {
            font-size: 16px;
            line-height: 20px;
        }

        &:hover {
            opacity: .5;
        }
    }
}


.popular-tag-wrap {
    background: #0E0E0E;
    margin: 30px 0;
    padding: 35px;
    border-radius: 10px;
}

.popular-tag-wrap span {
    font-size: 16px;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    margin: 5px;

    &:hover {
        background: #fff;
        color: #0e0e0e;
        cursor: pointer;
    }
}


// Blog Details 

.breadcrumb-inner .blog-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.breadcrumb-inner .author-info p {
    margin: 0;
}

.breadcrumb-inner .author-info {
    text-align: left;
    padding-left: 25px;
}

.breadcrumb-inner .author-info p {
    margin: 0;
}

.breadcrumb-inner .author-info h6 {
    margin: 0 !important;
    // text-transform: capitalize !important;
}

blockquote {
    background: #fff;
    padding: 40px;
}

blockquote p {
    font-style: italic;
    color: #0e0e0e;
    font-weight: 500;
}

.quote-icon img {
    width: 45px;
    height: 45px;
    margin-bottom: 20px;
}

.quote-author span {
    color: #000;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-size: 18px;
    font-weight: 500;
}

.blog-details-final h3 {
    color: #0e0e0e;
    margin: 20px 0;
}

.blog-details-wrap p {
    text-align: justify;
}


.blog-tag-wrap {
    @media #{$xs}{
        margin-bottom: 30px;
    }
    
  }


  .blog-tag-wrap span {
    background: #fff;
    color: #0e0e0e;
    padding: 10px 16px;
    border-radius: 5px;
    margin-left: 15px;
}

.blog-details-wrap .social-icon i {
    font-size: 18px;
    color: #0e0e0e;
    margin-right: 10px;
    background: #fff;
    border-color: #ddd;
    border-radius: 50%;
    padding: 10px;

  }
  .blog-details-wrap .social-icon i:hover {
    background: #0e0e0e;
    border-color: #0e0e0e;
    color: #fff;
  }

  // Comments Section 

.single-comments-wrap {
    background: #fff;
    border-radius: 7px;
    padding: 35px 25px;
    margin: 35px 0px;
    border-radius: 10px;
    position: relative;

    .single-comments-inner {
        display: flex;

        @media #{$xs} {
            flex-direction: column;
        }

        .comments-autor-thumb {
            flex: 0 0 130px;

            @media #{$lg} {
                flex: 0 0 140px
            }

            @media #{$md} {
                flex: 0 0 140px
            }

            img {
                border-radius: 7px;
            }
        }

        .comments-content {
            padding-left: 25px;

            @media #{$xs} {
                padding-left: 0;
                margin-top: 20px;
            }

            h6 {
                font-size: 20px;
                font-weight: 500;
                color: #0e0e0e;
            }

            p.comments-date {
                font-size: 16px;
                color: #0e0e0e;
                font-weight: 500;
                text-decoration: underline;
                margin: 14px 0;
            }
        }
    }

    a.reply-btn {
        background: #0e0e0e;
        color: #fff;
        padding: 6px 15px;
        border-radius: 7px;
        position: absolute;
        top: 35px;
        right: 55px;
        font-size: 16px;        

        @media #{$xs} {
            position: static;
            right: 25px;
        }

        &:hover {
            background: #f7f7f7;
            color: #0E0E0E;
        }
    }

}

.comments-form-wrap {

    h3 {
        margin: 0 0 30px;
    }

    .comments-form input,
    .comments-form textarea {
        background: #fff;
        border: none;
        border-radius: 5px;
        margin-bottom: 30px;
    }

    .comments-form textarea {
        height: 130px;
    }

    .comments-form input[type=submit]{
        background: #0e0e0e; 
        &:hover{
            background: #fff;
            color: #0E0E0E;
        }       
    }

}