/*--
    - Google Font Import 
-----------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');


// font-family: 'Hanken Grotesk', sans-serif;


/*--
    - Common CSS 
-----------------------------------------*/
html,
body {
	height: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
	
}

body {
	font-family: $hanken;
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	position: relative;
	z-index: 1;
	color: #fff;
	overflow-x: hidden;

}


h1,
h2,
h3,
h4,
h5,
h6 {
	position: relative;
	font-family: $hanken;
	font-weight: 400;
	margin: 0;
}

h1 {
	font-size:100px;
	font-weight: 600;
	line-height: 110px;
	color: #fff;
	@media #{$lg} {
		font-size: 90px;
		line-height: 100px;
	}
	@media #{$md} {
		font-size: 70px;
		line-height: 80px;
	}
	@media #{$xs} {
		font-size: 40px;
		line-height: 50px;
	}
}

h2 {
	font-size: 50px;
	@media #{$xs} {
		font-size: 40px;
	}
}

h3 {
	font-size: 35px;
	@media #{$xs} {
		font-size: 24px;
	}
}


a {
	text-decoration: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	color: #fff;
	&:hover{
		color: #fff;
	}
}

span{
	color: #fff;
}

p {
	font-family: $hanken;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	position: relative;
	color: $body_text-1;
}


button,
input,
textarea,
a:hover,
a:focus,
a:visited {
	text-decoration: none;
	outline: none;
	outline-width: 0 !important;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

img {
	display: inline-block;
	max-width: 100%;
}

i,
span,
a {
	display: inline-block;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

li {
	display: inline-block;
}

table,
th,
tr,
td {
	border: 1px solid #ddd;
}

th,
tr,
td {
	padding: 10px;
}

hr {
	border-top: 1px solid #444;
}

.fix {
	overflow: hidden;
}

.auto-container {
	position: static;
	max-width: 1200px;
	padding: 0 80px;
	margin: 0 auto;
}

.border-top{
	border-top: 1px solid rgba(135, 135, 135, 0.25);
}

.border-bottom{
	border-bottom: 1px solid rgba(135, 135, 135, 0.25);
}

/*Section Padding CSS*/

.section-padding {
	padding: 120px 0;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.section-padding {
		padding: 120px 10px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.section-padding {
		padding: 60px 30px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.section-padding {
		padding: 60px 10px;
	}
}

@media (max-width: 575px) {
	.section-padding {
		padding: 60px 10px;
	}
}

/*Margin & Padding */

.pt-0 {
	padding-top: 0;
}

.pb-0 {
	padding-bottom: 0;
}

.pt-20 {
	padding-top: 20px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pt-30 {
	padding-top: 30px;
}

.pb-30 {
	padding-bottom: 30px;
}

.pt-40 {
	padding-top: 40px;
}

.pb-40 {
	padding-bottom: 40px;
}

.pt-50 {
	padding-top: 50px;
}

.pb-50 {
	padding-bottom: 50px;
}

.pt-60 {
	padding-top: 60px;
}

.pb-60 {
	padding-bottom: 60px;
}

.pt-70 {
	padding-top: 70px;
}

.pb-70 {
	padding-bottom: 70px;
}

.pt-80 {
	padding-top: 80px;
}

.pb-80 {
	padding-bottom: 80px;
}

.pt-90 {
	padding-top: 90px;
}

.pb-90 {
	padding-bottom: 90px;
}

.pt-100 {
	padding-top: 100px;
}

.pb-100 {
	padding-bottom: 100px;
}

.pt-120 {
	padding-top: 120px;
}

.pb-120 {
	padding-bottom: 120px;
}

.pt-150 {
	padding-top: 150px;
}

.pb-150 {
	padding-bottom: 150px;
}

.pt-180 {
	padding-top: 180px;
}

.pb-180 {
	padding-bottom: 180px;
}

.mt-10 {
	margin-top: 10px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mt-15 {
	margin-top: 15px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mt-20 {
	margin-top: 20px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mb-30 {
	margin-bottom: 30px !important;
}

.mt-40 {
	margin-top: 40px;
}

.mb-30 {
	margin-bottom: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.mb-70 {
	margin-bottom: 70px;
}

.mt-80 {
	margin-top: 80px;
}

.mb-80 {
	margin-bottom: 80px;
}

.mt-90 {
	margin-top: 90px;
}

.mb-90 {
	margin-bottom: 90px;
}

.mt-100 {
	margin-top: 100px;
}

.mb-100 {
	margin-bottom: 100px;
}

.mt-120 {
	margin-top: 120px;
}

.mb-120 {
	margin-bottom: 120px;
}

.mt-150 {
	margin-top: 150px;
}

.ml-10 {
	margin-left: 10px;
}

.ml-20 {
	margin-left: 20px;
}

.ml-30 {
	margin-left: 30px;
}

.ml-40 {
	margin-left: 40px;
}

.ml-50 {
	margin-left: 50px;
}

.mr-10 {
	margin-right: 10px;
}

.mr-20 {
	margin-right: 20px;
}

.mr-30 {
	margin-right: 30px;
}

.mr-40 {
	margin-right: 40px;
}

.mr-50 {
	margin-right: 50px;
}

.pt-50 {
	padding-top: 50px;
}

.pb-50 {
	padding-bottom: 50px;
}

.pl-50 {
	padding-left: 50px;
}

.pr-50 {
	padding-right: 50px;
}

.pl-60 {
	padding-left: 60px;
}

.pr-60 {
	padding-right: 60px;
}

.pl-100 {
	padding-left: 100px;
}

.pr-50 {
	padding-right: 100px;
}


.ml-auto {
	margin-left: auto ! important;
}

.mr-auto {
	margin-right: auto ! important;
}


.mt-md-120 {
	@media #{$md}{
		margin-top: 120px;
	}
}

.mt-xs-60 {
	@media #{$xs}{
		margin-top: 60px;
	}
	
}


/*Section Title */


.section-title {
	position: relative;
	margin-bottom: 30px;
	@media #{$xs} {
		margin-bottom: 0;
	}
}

.section-title h2 {
	font-size: 48px;
	font-weight: 600;
	line-height: 58px;
	color: #fff;

	@media #{$lg} {
		font-size: 40px;
		line-height: 50px;
		margin: 0;
	}

	@media #{$md} {
		font-size: 40px;
		line-height: 50px;
		margin: 0;
	}

	@media #{$xs} {
		font-size: 28px;
		line-height: 38px;
		margin: 20px 0;
	}
}

.light-bg .section-title h2{
	color: #0e0e0e;
}

.section-title h3{
	font-size: 36px;
	line-height: 40px;

	@media #{$lg} {
		font-size: 30px;
		line-height: 30px;
	}

	@media #{$md} {
		font-size: 36px;
		line-height: 40px;
	}

	@media #{$xs} {
		font-size: 24px;
		line-height: 30px;
	}
}

.section-title h6 {
    font-family: $hanken;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
	color: #f5f5f5;
    margin-bottom: 20px;
	border: 1px solid #1d1d1d;
	border-radius: 25px;
    display: inline-block;
    padding: 10px 20px;
}

.light-bg .section-title h6{
	color: #0e0e0e;
}

.section-title span {
    font-style: italic;
	font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 14px;
    text-decoration-thickness: 2px;
	@media #{$md}{
		text-underline-offset: 10px;
	}
	@media #{$xs}{
		text-underline-offset: 8px;
	}
}


/*Button Style */

.theme-btn {
	display: inline-block;
	background: #fff;
	color: $dark_one;
	font-family: $hanken;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	padding: 12px 30px;
	border: 1px solid #fff;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: .3s;
	transition: .3s;
	&:hover{
		background: $dark_one;
		color: #fff;
	}

	@media #{$lg} {
        padding: 12px 24px;
        
    }
}


.primary-btn{
	@extend .theme-btn;
	background: $dark_one;
	border-color:$dark_one;
	color: #fff;
	&:hover{
		background: #fff;
		color: $dark_one;
	}
}

.bordered-btn{
	@extend .theme-btn;
	background: transparent;
	border-color:#eee;
	color: #fff;
	&:hover{
		background: #fff;
		color: $dark_one;
	}
}


/*Form Style CSS */

input,
textarea,
select {
	width: 100%;
	background: transparent;
	border: 1px solid #eee;
	padding: 13px 20px;
	font-size: 14px;
	letter-spacing: 1px;
	-webkit-transition: .3s;
	transition: .3s;
}

textarea {
	height: 200px;
}

input[type="submit"],
button[type="submit"] {
	border: none;
	border-radius: 0;
	display: inline-block;
	background: $dark_one;
	color: #fff;
	padding: 15px 45px;
	width: auto;
	-webkit-transition: .3s;
	transition: .3s;
	cursor: pointer;
	font-size: 15px;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
	background: #fff;
	color: $text-black;
}

input::placeholder,
textarea::placeholder {
	font-size: 15px;
	font-weight: 400;
}

input.form-control {
	padding: 12px 20px;
	line-height: 1.2;
}


/*Bootstrap CSS*/

.container-fluid {
	padding: 0 20px;
}

.container{
	max-width: 1200px;
}

.navbar-toggler-icon {
    background-image: none;
}

.btn:focus,.btn:active {
	outline: none !important;
	box-shadow: none;
 }


/* Bacground Color & Overlay CSS 
============== */

.light-bg{
	background: #fff;
}

.dark-bg-1{
	background: $dark_one;
}

.dark-bg-2 {
	background: $dark_two;
}

.dark-bg-3 {
	background: $dark_three;
}

.gray-bg{
	background: #F7F7F7;
}


.bg-cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
}

.overlay {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: $dark_one;
	opacity: .4;
	top: 0;
	left: 0;
	z-index: -1
}

.overlay.active {
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	content: "";
	background-color: #000;
	z-index: 99;
	opacity: 0.5;
	visibility: visible;
  }


.fix{
	overflow: hidden;
}



// Mouse Cursor

.cursor-outer {
	margin-left: -20px;
	margin-top: -20px;
	width: 40px;
	height: 40px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	z-index: 10000000;
	opacity: 0.5;
	transition: all 0.08s ease-out;
  }
  
  .mouseCursor {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	border-radius: 50%;
	transform: translateZ(0);
	visibility: hidden;
	text-align: center;
	@media #{$xs} {
        display: none;
    }

  }
  
  .cursor-inner {
	margin-left: -3px;
	margin-top: -3px;
	width: 6px;
	height: 6px;
	z-index: 10000001;
	background-color: #000;
	transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  .cursor-inner span {
	color: #fff;
	line-height: 80px;
	opacity: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
  }
  .cursor-inner.cursor-big span {
	opacity: 1;
  }
  
  .mouseCursor.cursor-big {
	width: 80px;
	height: 80px;
  }
  
  .mouseCursor.cursor-big.cursor-outer {
	display: none;
  }
  
  .tp-cursor-point-area {
	cursor: none;
  }
  


/* Off Canvas Menu CSS
======================*/

.header-btn {    
    display: flex;
    align-items: center;
	cursor: pointer;
	
	@media #{$md} {
		display: none;
	}
	@media #{$xs} {
		display: none;
	}
}

.menu-trigger span {
    background-color: #fff;
    display: block;
    height: 2px;
    margin: 8px auto;
    margin-left: 5px;
    width: 30px;
    transition: all 0.1s;
}

  
  .header-area.absolute-header .menu-trigger span {
	background: #fff;
  }
  
  
 
  .off-canvas-menu {
	position: fixed;
	top: 0;
	right: -320px;
	background: #fff;
	box-shadow: -6px -3px 16px -8px rgba(0, 0, 0, 0.25);
	width: 350px;
	padding: 50px;
	height: 100%;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
  }
  
  .off-canvas-menu.show-off-canvas-menu {
	right: 0;
	opacity: 1;
	visibility: visible;
  }
  
  .off-canvas-menu p {
	font-size: 16px;
	color: #b4afaf;
	font-weight: 400;
	position: absolute;
	bottom: 15px;
	opacity: 0.5;
  }
  
  .menu-close {
	position: absolute;
	right: 25px;
	top: 25px;
	color: #777;
	padding: 7px;
	cursor: pointer;
	font-size: 30px;
	font-weight: 300;
  }
  
  .menu-close:hover {
	color: #333;
  }
  
  
.extra-info {
	background: #141417 none repeat scroll 0 0;
	height: 100%;
	padding: 40px;
	position: fixed;
	right: 0;
	top: 0;
	-webkit-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
	width: 400px;
	z-index: 999;
	overflow-y: scroll;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	opacity: 0;
	visibility: hidden;
}

.extra-info.active {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}

.close-icon {
	margin-top: 0;
	text-align: right;
}

.close-icon > button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 0 none;
	cursor: pointer;
	font-size: 20px;
	padding: 0;
}

.close-icon > button i {
	color: #fff;
	font-size: 30px;
}

.side-info {
	border-top: 1px solid #333;
	padding-top: 20px;
}

.contact-list h4 {
	color: #fff;
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 20px;
}

.contact-list p {
	color: #fff;
	margin: 0;
	margin-bottom: 15px;
	line-height: 30px;
	font-size: 15px;
}

.contact-list p i {
	float: left;
	margin-top: 6px;
	width: 25px;
}

.contact-list p span {
	display: block;
	overflow: hidden;
}

.offcanvas-overly {
	position: fixed;
	background: #000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.offcanvas-overly.active {
	opacity: 0.5;
	visibility: visible;
}

.extra-info .site-logo-2 {
	width: 220px;
	text-align: center;
	margin-top: 20px;
}

.social-area-wrap a i {
	font-size: 20px;
  }
  
  .social-area-wrap a {
	width: 40px;
	height: 40px;
	background: #18222B;
	color: #fff;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
  }
  .social-area-wrap a:hover {
	background: #ddd;
  }

// Explore Button 

.explore-btn {
    width: 170px;
    height: 170px;
    border: 1px solid $dark_one;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
	padding: 30px;
	position: absolute;
	right: 100px;
	top: 120px;
	transition: .4s;	
	@media #{$lg} {		
        top: 80px;
    }
	@media #{$md} {		
        display: none;
    }
	@media #{$xs} {		
        display: none;
    }
}

.explore-btn a {	
    font-size: 16px;
	line-height: 26px;
    font-weight: 500;
    color: $dark_one;
	margin-top: 20px;
	text-align: center;
}

.explore-btn i {
    font-size: 25px;
    transform: rotate(-45deg);
    margin-left: 10px;
	display: block;
	margin-top: 10px;
}

.explore-btn:after {
    position: absolute;
    content: "";
    top: 20px;
    left: 50%;
    width: 15px;
    height: 15px;
    background: #444;
    border-radius: 50%;
    margin-left: -7px;
}

// Circle Button 

.circle-button {
	position: relative;
	display: inline-block;
	@media #{$md} {
		display: none;            
	}
	@media #{$xs} {
		display: none;            
	}
  }
  
  
  .circle-button.in-bord:before {
	content: '';
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border: 1px solid #1a1a1a;
	border-radius: 50%;
  }
  
  .circle-button .rotate-circle svg {
	width: 210px;
	fill: #fff;
  }
  
  .circle-button .arrow {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-20px) translateY(-20px);
	-ms-transform: translateX(-20px) translateY(-20px);
	transform: translateX(-20px) translateY(-20px);
	display: inline-block;
	width: 0;
	height: 0;
  }
  
  .circle-button .arrow svg {
	width: 40px;
	height: 40px;
  }
  
  .circle-button .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
  }
  
  .circle-button .in-circle {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
  }
  
  .circle-button.no-animate .rotate-circle {
	-webkit-animation: none;
	animation: none;
  }

  .rotate-circle {
    -webkit-animation-name: rotateCircle;
    animation-name: rotateCircle;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.fz-30 {
    font-size: 30px !important;
}

.text-u {
    text-transform: uppercase !important;
}

.hover-this .hover-anim {
    pointer-events: none;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.rotate-circle {
	-webkit-animation-name: rotateCircle;
	animation-name: rotateCircle;
	-webkit-animation-duration: 20s;
	animation-duration: 20s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
  }
  
  @-webkit-keyframes rotateCircle {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  
  @keyframes rotateCircle {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  
//   Header Sticky 

  .header-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 1;
    visibility: visible;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: 0.5s ease-in-out 0s normal none 1 running fadeInDown;
    z-index: 999;
}



// Language Bar 

.language-dropdown .nice-select {
	background: transparent;
	border: none;
	color: #fff;
	font-size: 16px;
	line-height: 26px;
	height: auto !important;
	float: right;
  }

  .nice-select .list {
	background-color: #fff;
	border-radius: 5px;
	box-sizing: border-box;
	margin-top: 20px;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	pointer-events: none;
	position: absolute;
	top: 100%;
	left: 3px;
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform: scale(0.75) translateY(-21px);
	-ms-transform: scale(0.75) translateY(-21px);
	transform: scale(0.75) translateY(-21px);
	-webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
	transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
	z-index: 999;
	color: #061815;
	font-weight: 400;
  }
  
  .nice-select .option.selected {
	font-weight: normal !important;
  }
  
  .nice-select .option {
	display: block;
	padding-left: 25px;
	padding-right: 30px;
  }
  
  .nice-select:after {
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	content: "";
	display: block;
	width: 7px;
	height: 7px;
	margin-top: -6px;
	pointer-events: none;
	position: absolute;
	right: 12px;
	top: 50%;
	-webkit-transform-origin: 66% 66%;
	-ms-transform-origin: 66% 66%;
	transform-origin: 66% 66%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
  }

/*--
    - Mouse Animate Icon
-----------------------------------------*/
.mouse-icon {
	border: 2px solid #fff;
	border-radius: 16px;
	height: 50px;
	width: 30px;
	display: block;
	z-index: 10;
	cursor: pointer;
	position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  
  .mouse-icon .wheel {
	-webkit-animation-name: drop;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: drop;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: running;
  }
  
  .mouse-icon .wheel {
	position: relative;
	border-radius: 10px;
	background: #fff;
	width: 4px;
	height: 10px;
	top: 4px;
	margin-left: auto;
	margin-right: auto;
  }
  
  @-webkit-keyframes drop {
	0% {
	  top: 5px;
	  opacity: 0;
	}
	30% {
	  top: 10px;
	  opacity: 1;
	}
	100% {
	  top: 25px;
	  opacity: 0;
	}
  }
  
  @keyframes drop {
	0% {
	  top: 5px;
	  opacity: 0;
	}
	30% {
	  top: 10px;
	  opacity: 1;
	}
	100% {
	  top: 25px;
	  opacity: 0;
	}
  }

  /*-- Search Form --*/
.search-box button {
	text-decoration: none;
	outline: none;
	outline-width: 0 !important;
	border: none;
	background: none;
	position: absolute;
	top: 32px;
	right: 10px;
	font-size: 20px;
  }
  
  .search-box button:before {
	position: absolute;
	content: "";
	top: 50%;
	left: -40px;
	height: 40px;
	border-left: 2px solid #eee;
	margin-top: -20px;
  }
  
  .search-box button:hover {
	cursor: pointer;
  }
  
  .search-popup {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
  }
  
  .search-popup .search-back-drop {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
  }
  
  .search-active .search-popup {
	opacity: 1;
	visibility: visible;
  }
  
  .search-popup .search-inner {
	position: relative;
	background: #0E0E0E;
	padding: 45px 0 30px;
	z-index: 1;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	height: 400px;
  }
  
  .search-active .search-popup .search-inner {
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  
  .search-popup .upper-text {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 15px;
  }
  
  .search-popup .upper-text .text {
	font-size: 18px;
	letter-spacing: 1px;
  }
  
  .search-popup .close-search {
	position: absolute;
	right: 80px;
	top: 60px;
	font-size: 30px;
	line-height: 27px;
	z-index: 3;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	border: none;
	background: none;
	color: #fff;
  }
  
  .search-popup .form-group form {
	position: relative;
  }
  
  .search-popup .form-group {
	position: relative;
	margin: 0px;
	overflow: hidden;
	border-bottom: 1px solid #888E9B;
	width: 100%;
	padding-top: 140px;
  }
  
  .search-popup .form-group input[type=text],
  .search-popup .form-group input[type=search] {
	position: relative;
	display: block;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	padding: 10px 14px;
	height: 45px;
	width: 100%;
	background-color: transparent;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	border: none;
	margin-bottom: 5px;
  }
  
  .search-popup .form-group input[type=submit],
  .search-popup .form-group button {
	position: absolute;
	right: -140px;
	bottom: 5px;
	background: transparent !important;
	text-align: center;
	font-size: 24px;
	line-height: 45px;
	color: #888E9B;
	padding: 0;
	background: none;
	border: none;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
  }
  
  .form-group input::placeholder {
	font-size: 30px;
	color: #888E9B;
  }


/* Preloader*/

.preloader {
	background-color: #0E0E0E;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 9999999;
}

.spinner {
	width: 60px;
	height: 60px;
	top: 30%;
	position: relative;
	margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #fff ;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {

	0%,
	100% {
		-webkit-transform: scale(0.0)
	}

	50% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes sk-bounce {

	0%,
	100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}

	50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}