.footer-up {
    padding: 120px 0;
}

.footer-bottom {
    border-top: 1px solid #1d1d1d;
    padding: 15px 0;
    @media #{$xs}{
        text-align: center;
    }
}

.footer-bottom p {
    margin: 0;
}

.footer-area h3{
    @media #{$lg}{
        font-size: 30px;
    }
    @media #{$md}{
        font-size: 24px;
    }
    @media #{$xs}{
        font-size: 20px;
    }
}


.footer-area .mt-40 {
    @media #{$xs}{
        margin-top: 10px;
    }
    
  }