.single-team-item {
    padding: 30px;
    border: 1px solid #1d1d1d;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
}

.team-bg img {
    border-radius: 10px;
}

.team-bg {
    position: relative;
}

.team-social {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    padding: 12px 20px;
    transform: translateX(-100px);
    transition: .3s ease-out;
    visibility: hidden;
    opacity: 0;
    border-radius: 0 10px 0 0;
}

.team-social i {
    color: #818181;
    font-size: 20px;
    margin-right: 7px;
}

.single-team-item:hover .team-social {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.team-info h5 {
    font-size: 24px;
    line-height: 34px;
    margin: 20px 0;
}

.team-info h5 span {
    display: block;
    font-size: 16px;
    opacity: .5;
}