
// Font Family
$hanken: 'Hanken Grotesk', sans-serif;

// Colors ---------------

$dark_one: #0E0E0E;
$dark_two:#020202;
$dark_three:#141414;
$body_text-1: #818181;
$body_text-2: #4a4a4a;

$text-black: #0E0E0E;
$text-gray: #818181; 
$text-white: #fff !important;



// Responsive Variables
$xl: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 540px) and (max-width: 767px)';



